*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#strisciablu{
    
    height: 50px;
   
}



.col{
    background-color: aqua;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


  